section {
    border: 1px solid;
    border-radius: 2rem;
    text-align: center;
}

.flex-direction-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-direction-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-grow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-grow > .color {
    flex-grow: 1;
}

.color {
    width: 20%;
    height: 50px;
}

.orange {
    background-color: orange;
}

.white {
    background-color: lightgray;
}

.green {
    background-color: green;
}